body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

.unit-selection {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.horizontal-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.unit-type-btn {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  background: white;
}

.unit-type-btn.active {
  background-color: #4CAF50;
  color: white;
  border-color: #45a049;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-selector input[type="number"] {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  /* display: none; */
}

/* Dropdown styling */
.doctrine-dropdown {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.doctrine-dropdown select {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 150px;
}

/* unit card */
.unit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-container img {
  width: 212px;
  height: 140px;
  margin-right: 20px;
  border-radius: 10px;
}

/* unit tab*/
.unit-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}